# ITERATORS AND LIST COMPREHENESION

iterable is an object that can return as iterator

iterable: an object with an associated iter() method

example: list ,strings and dict

iterator: produces next value with next() method

In [1]:
#iterator example

name= "ronaldo"
it= iter(name)
print(next(it))
print(*it)

r
o n a l d o

zip(): zip list

In [4]:
list1= [1,2,3,4]
list2=[5,6,7,9]

z=zip(list1,list2)
print(z)

<zip object at 0x000001B9142CB340>

In [5]:
z_list= list(z)
print(z_list)

[(1, 5), (2, 6), (3, 7), (4, 9)]

In [9]:
un_zip=zip(*z_list)
un_list1, un_list2= list(un_zip)
print(un_list1)
print(un_list2)
print(type(un_list1))
print(type(list(un_list1)))

(1, 2, 3, 4)
(5, 6, 7, 9)
<class 'tuple'>
<class 'list'>

# LIST COMPREHENSION

One of the most important topic of this kernel

we use list comprehension for data analysis often

list comprehension: collapse for loops for building lists into a single line

ex: num=[1,2,3] and we want to make it num2=[2,3,4]. This can be done with for loop. However it is unnecessarily long. We can make it one line code that is list comphrehension.

In [10]:
num1=[1,2,3]
num2=[i + 1 for i in num1 ]
print(num2)

[2, 3, 4]

[i + 1 for i in num1 ] list comprehension

i+1: list comprehenesion syntax

for i in num1 : for loop syntax

i: iterator

num1: iteratable object

In [12]:
#Conditional on iteratable

num1=[5,10,15]
num2=[i**2 if i==10 else i-5 if i<7 else i+5 for i in num1]
print(num2)

[0, 100, 20]

In [13]:
import pandas as pd

data= pd.read_csv("pokemon.csv")
data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [15]:
#lets return pokemon csv and make one more list comprehension example

#Lets classify pokemon whether they have high or low speed. Our threshold is average speed

threshold=sum(data.Speed)/len(data.Speed)
print("threshold" ,threshold)
data["speed_level"]= ["high" if i>threshold else "low" for i in data.Speed]
data.loc[:10,["speed_level","Speed"]]

threshold 68.2775

   speed_level  Speed
0          low     45
1          low     60
2         high     80
3         high     80
4          low     65
5         high     80
6         high    100
7         high    100
8         high    100
9          low     43
10         low     58

In [16]:
num1 = [1,2,3,4]

num2 = [i**2 if i % 2 == 0 else i-i  for i in num1]

print(num2)

[0, 4, 0, 16]