# DICTIONARY PANDAS AND LOGICAL CONTROL

Why we need dictionary?

It has 'key' and 'value'.

Faster than lists.

What is key and value.Example:

dictionary={'spain':'madrid'}

Key is spain. Value is madrid.

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
dictionary={'spain':'madrid', 'usa':'vegas'}
print(dictionary.keys())
print(dictionary.values())

dict_keys(['spain', 'usa'])
dict_values(['madrid', 'vegas'])

In [21]:
dictionary['spain']="barcelona" #Update existing entry
print(dictionary)

{'spain': 'barcelona', 'usa': 'vegas'}

In [22]:
dictionary['france']="paris" #Add new entry
print(dictionary)

{'spain': 'barcelona', 'usa': 'vegas', 'france': 'paris'}

In [23]:
print('france' in dictionary) #Check include or not

True

In [24]:
dictionary.clear() #remove all entries in dict
print(dictionary)

{}

# PANDAS

What we need to know about Pandas?
CSV: comma -separated value

In [25]:
data=pd.read_csv("pokemon.csv")

In [26]:
data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

We have two different types in Pandas 1.Series 2.DataFrame.The Series data structure consists of a single column. DataFrame data structure consists of rows and columns.

In [27]:
series=data['Defense'] #To see type of Defense Attributee
print(type(series))

<class 'pandas.core.series.Series'>

In [28]:
data_frame= data[['Defense']]
print(type(data_frame))

<class 'pandas.core.frame.DataFrame'>

Before continue with pandas, we need to learn logic, control flow and filtering.

Comparison Operators ==,<,>,<=

Boolean Operations and, or, not

Filtering Pandas

In [29]:
print(3>2)
print(3!=1)

True
True

In [30]:
#1-Filtering Pandas Data Frame
x= data['Defense']>200
data[x]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
224,225,Mega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
230,231,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
333,334,Mega Aggron,Steel,NaN,70,140,230,60,80,50,3,False

In [31]:
#2- Filtering Pandas with Logical_and
#There are only 2 pokemons who have higher defense value than 200 and higher attack value than 100 
data[np.logical_and(data['Defense']>200, data['Attack']>100)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
224,225,Mega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
333,334,Mega Aggron,Steel,NaN,70,140,230,60,80,50,3,False

In [32]:
#This is also same with previous code line. Therefore we can also use & for filtering
data[(data['Defense']>200 &(data['Attack']>100))]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True