# MISSING DATA AND TESTING WITH ASSERT

If we encounter with missing data what we can do:

leave as is

drop them with dropna()

fill missing value with fillna()

fill missing values with test statistics like mean

Assert Statement: Check that you can turn on or turn off when you are done with your testing of the program

In [50]:
import pandas as pd
import numpy as np

In [51]:
data= pd.read_csv("pokemon.csv")

In [52]:
data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [53]:
#lets look at does pokemon data have nan value 
#as you can see there are 800 entries. However Type 2 414 non-null object so it has 386 null object

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        799 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [54]:
#lets check Type 2
#Eğer nan varsa dropna=false ile onları da görmek istediğimizi söylüyoruz
data['Type 2'].value_counts(dropna=False)

NaN         386
Flying       97
Ground       35
Poison       34
Psychic      33
Fighting     26
Grass        25
Fairy        23
Steel        22
Dark         20
Dragon       18
Ice          14
Rock         14
Water        14
Ghost        14
Fire         12
Electric      6
Normal        4
Bug           3
Name: Type 2, dtype: int64

In [55]:
print("Number of NaN values before dropping:", data1['Type 2'].isnull().sum())
data1['Type 2'].dropna(inplace=True)
print("Number of NaN values after dropping:", data1['Type 2'].isnull().sum())

Number of NaN values before dropping: 0
Number of NaN values after dropping: 0

In [56]:
#lets drop nan values

data1['Type 2'].fillna(value='None', inplace=True)

In [57]:
#Assert kullanımı

assert 1==1  #return nothing because is true

In [58]:
assert 1==2

AssertionError:

Yukarıda pokemon datasında Type 2 'nin null olan değerlerini uzaklaştırdık. 

Peki bunun işe yarayıp yaramadığını ya da bir sonuç aldık mı görmek istersek

In [59]:
assert data1['Type 2'].notnull().all()

Assert aslında yapmak ve uygulamak istediğimiz bir işlemin doğru şekilde uygulanıp uygulanmadığını görmek bazı bilgielrin doğruluğunu kotrol ettiğimiz yerdir.

In [60]:
assert data.columns[1]=="Name"

In [64]:
assert data.columns[1]=="Gender" #YANLIŞTIR

AssertionError:

In [65]:
assert data.Speed.dtypes== np.int64